/* Coolors Exported Palette - https://coolors.co/03f7eb-38c7c8-6c96a4-a16580-d5345c-d9466b-dc5778-df6684 */

/* CSS HEX */
--fluorescent-blue: #03f7ebff;
--maximum-blue-green: #38c7c8ff;
--pewter-blue: #6c96a4ff;
--rose-dust: #a16580ff;
--cerise: #d5345cff;
--cerise-2: #d9466bff;
--blush: #dc5778ff;
--blush-2: #df6684ff;

/* CSS HSL */
--fluorescent-blue: hsla(177, 98%, 49%, 1);
--maximum-blue-green: hsla(180, 57%, 50%, 1);
--pewter-blue: hsla(195, 24%, 53%, 1);
--rose-dust: hsla(333, 24%, 51%, 1);
--cerise: hsla(345, 66%, 52%, 1);
--cerise-2: hsla(345, 66%, 56%, 1);
--blush: hsla(345, 66%, 60%, 1);
--blush-2: hsla(345, 65%, 64%, 1);

/* SCSS HEX */
$fluorescent-blue: #03f7ebff;
$maximum-blue-green: #38c7c8ff;
$pewter-blue: #6c96a4ff;
$rose-dust: #a16580ff;
$cerise: #d5345cff;
$cerise-2: #d9466bff;
$blush: #dc5778ff;
$blush-2: #df6684ff;

/* SCSS HSL */
$fluorescent-blue: hsla(177, 98%, 49%, 1);
$maximum-blue-green: hsla(180, 57%, 50%, 1);
$pewter-blue: hsla(195, 24%, 53%, 1);
$rose-dust: hsla(333, 24%, 51%, 1);
$cerise: hsla(345, 66%, 52%, 1);
$cerise-2: hsla(345, 66%, 56%, 1);
$blush: hsla(345, 66%, 60%, 1);
$blush-2: hsla(345, 65%, 64%, 1);

/* SCSS RGB */
$fluorescent-blue: rgba(3, 247, 235, 1);
$maximum-blue-green: rgba(56, 199, 200, 1);
$pewter-blue: rgba(108, 150, 164, 1);
$rose-dust: rgba(161, 101, 128, 1);
$cerise: rgba(213, 52, 92, 1);
$cerise-2: rgba(217, 70, 107, 1);
$blush: rgba(220, 87, 120, 1);
$blush-2: rgba(223, 102, 132, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-right: linear-gradient(90deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-bottom: linear-gradient(180deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-left: linear-gradient(270deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-top-right: linear-gradient(45deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-bottom-right: linear-gradient(135deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-top-left: linear-gradient(225deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-bottom-left: linear-gradient(315deg, #03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);
$gradient-radial: radial-gradient(#03f7ebff, #38c7c8ff, #6c96a4ff, #a16580ff, #d5345cff, #d9466bff, #dc5778ff, #df6684ff);